<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      h2{
        background-color: bisque;
      }
    </style>
    <meta charset="UTF-8" name="viewport" content="initial-scale=1, width=device-width">
    <title>View Information</title>
  </head>
  <body background="/static/background.webp">
    <h2><center><b>You selected the analysis type: {{ analysis_type }}.</b></center></h2>
    <br>
    <br>
    <b>The results for analyzing {{ analysis_type }} is as follows</b>
      <p>
        <center><img src="{{fp}}" width="device-width" style="border:2px beige"></center>
      </p>
      {% if isdrug == True %}
        <center><b>
        {{ tc }}<br>
        {{ mc }}<br>
        {{ fc }}<br>
        {{ aa }}<br>
        {{ rm }}<br>
        </b></center>
      {% endif %}
      <br>
      <br>
      <b><a href="/">Click Here to Return Home</a></b>
  </body>
</html>